*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(250, 249, 255);
    font-family: Arial, Helvetica, sans-serif;
   background-image: url(imagens/thumb-1920-678024.png);
}




main{
    height: 100vh;
}

header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 7vw;
    padding-right: 7vw;
    background-color:  rgb(0, 0, 0);
    color: white;
    
}

#menu{
    position: relative;
}

#menu a{
    position: absolute;
}

nav{
    display: flex;
    align-items: center;
    gap: 15px;
    height: 20px;
}

nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.dropdown{
    position: relative;
}

#dropdown-menu{
    margin-top: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0%);
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: rgb(252, 252, 252);
    padding: 0px;
    height: 0px;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.ativar{
    height: 245px!important;
}

#dropdown-menu a{
    padding: 15px;
    display: block;
    color: white;
}

#dropdown-menu a:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

nav #div{
    height: 100%;
    width: 2px;
    background-color: rgb(255, 0, 0);
}
.perfil{
    padding: 100px;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
  color: white;
}

.fotoPerfil{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
   
}

.fotoPerfil img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.conteudoPerfil{
    width: 80%;

}

.conteudoPerfil h1{
    font-size: 4rem;

}


.conteudoPerfil p{
    font-size: 1.6rem;
    line-height: 1.5;
}

.curriculo{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 100px;
    color: white;
    
}

.curriculoImage{
    width: 300px;
    height: auto;
}

.curriculoImage img{
    width: 100%;
    height: auto;
}

.curriculoContent{
    width: 30%;
}

.curriculoContent p{
    margin-bottom: 10px;
}

#dropdown-trimestres {
    margin-top: 10px;
    position: absolute;
    left: 0;
    transform: none;

    min-width: 150px;
    background-color: rgb(0, 0, 0);
    color: white;

    padding: 0px;
    max-height: 0;              
    overflow-y: hidden;       
    transition: max-height 0.3s ease-in-out;
    z-index: 999;
}

#dropdown-trimestres.ativar {
    max-height: 200px;          
    border: 1px solid rgb(0, 0, 0);
}

#dropdown-trimestres a {
    padding: 15px;
    display: block;
    color: white;
    text-decoration: none;
}

#dropdown-trimestres a:hover {
    background-color: white;
    color: black;
}
